/* Navigation */
.nav {
  background: #000 !important;
}
nav {
  width: 100% !important;
  color: white !important;
  font-size: 24px !important;

  padding-top: 10px !important;
  padding-bottom: 10px !important;
  flex: 1 !important;
  display: flex !important;
  align-items: center !important;
  flex-direction: row !important;
}
nav a {
  color: white !important;
  font-size: 0.8em !important;
  text-decoration: none !important;
  flex: 2 !important;
  justify-content: flex-end !important;
  align-items: flex-start !important;
}
nav img {
  margin-left: 2em !important;
  margin-right: auto !important;
  height: 3em !important;
  flex: 2 !important;
}
nav span {
  margin-right: 10px !important;
}

.navbar {
  background-color: #000;
}

img#ohio-logo {
  margin-left: 2em !important;
  margin-right: auto !important;
  height: 3em !important;
  flex: 2 !important;
}

@media (max-width: 750px) {
  nav {
    flex-direction: column !important;
    justify-content: space-around !important;
  }
  nav img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  nav span {
    margin-right: 6px !important;
    margin-left: 6px !important;
  }
}

@media (max-width: 460px) {
  nav {
    font-size: 18px !important;
  }
}
